header { padding-top: 80px; }
main   { padding-top: 80px; }
.dvu   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(djvu.png);  }
.pdf   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(pdf.jpg);  }
